@import url(https://fonts.googleapis.com/css?family=Signika+Negative:300|Noto+Serif);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
	background-color: #555;
	color: #ccc;
	text-align: center;
	text-shadow: 0 -1px 1px #4d4d4d;
	font-family: 'Signika Negative', Signika, sans-serif;
}
html::after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: black url(bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	z-index: -1;

	transition: filter 1s cubic-bezier(0.96, 0.06, 0.36, 1);
	filter: contrast(50%) brightness(0%) blur(50px);
}
html.loaded::after {
	filter: contrast(100%) brightness(100%) blur(0px);
}
body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 10px;
	mix-blend-mode: hard-light;
}
h1 {
	font-family: 'Noto Serif', sans-serif;
	font-weight: normal;
	margin: 0 0 10vh;
}
ul {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 10px 20px;
	font-size: 80%;
}
li {
	display: block;
	padding: 0 5px;
}
:link, :link:hover, :visited {
	color: #eee;
	text-decoration: none;
}
:link:hover {
	text-decoration: underline;
}
